.previous-box{
    margin-top: 5.8rem;
    padding: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 0.07rem solid;
    display: none;
}

main{
    margin-top: 5.8rem;
}

.back-btn:link, .back-btn:visited{
    color: black;
    cursor: pointer;
}

.section-1, .part-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.2rem;
    background: transparent;
    color: black;
    padding: 0;
}

.part-1{
    padding: 2rem 1rem;
}

.pricing-heading{
    color: var(--primary-color);
}

.description{
    line-height: 1.7;
}

.pricing-table{
    border: 0.03rem solid var(--primary-color);
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0.1rem 0.1rem 0.2rem;
}

.table-wrapper{
    overflow-x: auto;
    width: 100%;
    padding: 1rem 1rem;
}

thead{
    background: var(--primary-color);
    color: white;
}

thead tr th{
    padding: 1rem;
}

tbody tr td{
    white-space: nowrap;
    padding: 1rem;
    vertical-align: middle;
}

tbody tr:hover{
    transition: all 0.6s ease;
    box-shadow: 0.1rem 0.1rem 0.4rem var(--primary-color);
    border-radius: 1rem;
}

tbody tr{
    border-bottom: 0.1rem solid;
}

.section-2{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.package{
    background: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    opacity: 0;
    transition: all 0.6s ease;
}

.desc{
    line-height: 1.6;
}

.popular{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: var(--secondary-color);
    align-items: center;
}

.text{
    color: var(--secondary-color);
}

.title{
    padding: 1rem;
    background: red;
    border-radius: 1rem;
}

@media screen and (min-width:922px){
    .previous-box{
        display: block;
    }
    
    main{
        margin-top: 7.9rem;
    }
}