.previous-box{
    margin-top: 5.8rem;
    padding: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 0.07rem solid;
    display: none;
}

main{
    margin-top: 5.8rem;
}

.back-btn:link, .back-btn:visited{
    color: black;
    cursor: pointer;
}

.section-1, .part-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.2rem;
    background: transparent;
    color: black;
    padding: 0;
}

.part-1{
    padding: 2rem 1rem;
}

.pricing-heading{
    color: var(--primary-color);
}

.description{
    line-height: 1.7;
}

.pricing-table{
    border: 0.03rem solid var(--primary-color);
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper{
    overflow-x: auto;
    padding: 2rem 1rem;
}

thead{
    background: var(--primary-color);
    color: white;
    padding: 1rem;
}

thead tr{
    display: flex;
}