main{
    margin-top: 5.8rem;
}

.previous-box{
    margin-top: 5.8rem;
    padding: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 0.07rem solid;
    display: none;
    background: var(--secondary-color);
}

.section-1{
    background: url("../images/file_00000000c144722f9729f7de51455b12.png");
    padding: 6rem 1.5rem;
}

.s-content{
    line-height: 1.7;
}

.section-2{
    align-items: stretch;
    gap: 1.8rem;
    margin-top: 1rem;
    border-radius: 1rem 0 1rem 0;
}

.section-2 .s2-heading{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.product{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background: var(--secondary-color);
    padding: 1rem;
    border-radius: 0.5rem;
    transform: translate(0, 1rem);
    transition: all 0.4s ease;
    align-items: center;
    cursor: pointer;
}

.p-img{
    border-radius: 0.5rem;
}

.p-body{
    color: black;
    display: column;
    gap: 1rem;
}

.p-heading{
    color: var(--primary-color);
    text-shadow: 0.1rem 0.1rem 0.1rem var(--primary-color);
}

.p-text{
    line-height: 1.7;
}

.section-3{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    border-top: 0.2rem solid;
    border-bottom: 0.2rem solid;
    margin: 2rem auto;
}

.category h3{
    border-bottom: 0.2rem solid var(--primary-color);
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
}


.bi-chevron-right{
    cursor: pointer;
}

.items{
    list-style-type: none;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--accent-color);
    margin-top: 1.2rem;
    display: none;
    flex-direction: column;
    gap: 0.7rem;
}

.item{
    padding: 0.5rem;
}

.item:hover{
    background: rgba(250, 245, 249, 1);
}

.categories{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.offers{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width:922px){
    main{
        margin-top: 7.9rem;
    }
    
    .previous-box{
        display: block;
        margin-bottom: 1rem;
    }
}