.previous-box{
    margin-top: 5.8rem;
    padding: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 0.07rem solid;
    display: none;
}

main{
    margin-top: 5.8rem;
    background: whitesmoke;
}

.back-btn:link, .back-btn:visited{
    color: black;
    cursor: pointer;
}


.section-1{
    background: inherit;
}

.section-1 h1{
    color: var(--primary-color);
}

.testimonies{
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: stretch;
    padding: 2rem 0.3rem;
    border-radius: 3rem 0 0 0;
}

.testimony{
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.6rem;
    transition: all 0.6s ease;
}

.testimony:hover{
    box-shadow: 0.1rem 0.1rem 0.1rem var(--accent-color);
}

.t-header{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.initials{
    border-radius: 50%;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 1.2rem;
}

.name{
    color: var(--primary-color);
    font-weight: bold;
}

.t-body{
    line-height: 1.8;
}

.t-footer{
    color: var(--accent-color);
}

.left{
    transform: translateX(-2rem);
}

.right{
    transform: translateX(2rem);
}

@media screen and (min-width: 922px){
    .mobile-menu{
        display: none;
    }
    
        main{
        margin-top: 7.9rem;
    }
    
        .previous-box{
        display: block;
        margin-bottom: 1rem;
            background: whitesmoke;
    }
}